---
import Showcase from '../components/Showcase.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Fische">
  <Showcase heading="Fische", text="Hier werden einige der Fische vorgestellt, die man im Aquarium auffindet."></Showcase>
    

  <body>
    <div class="fische">
        <div class="fish-description">
          <img src="fisch1.jpg" alt="Ein schöner Fisch">
          <h2>Regenbogenforelle</h2>
          <p>Die Regenbogenforelle ist eine der bekanntesten Forellenarten. Sie ist für ihr fleischreiches, zartes Fleisch und ihre bunten Farben bekannt. Sie kommt in klaren, kalten Flüssen und Seen in Nordamerika vor.</p>
          <ul>
            <li>-Große Artenvielfalt</li>
            <li>-Lebt in kalten, klaren Gewässern</li>
            <li>-Bekannt für ihr zartes Fleisch und ihre bunten Farben</li>
          </ul>
        </div>
        
        <div class="fish-descriptionTwo">
          <img src="hai1.jpg" alt="Ein schöner Fisch">
          <h2>Weisser Hai</h2>
          <p>Der Weiße Hai ist der größte Raubfisch in den Ozeanen und kann bis zu 6 Meter lang werden.
            Weiße Haie haben eine der höchsten Bisskräfte im Tierreich und können ihre Beute mit einem Biss töten oder schwer verletzen.
            Trotz ihres gefährlichen Rufs greifen Weiße Haie selten Menschen an und bevorzugen stattdessen Robben, Seelöwen und andere Meerestiere.</p>
          <ul>
            <li>-Riecht Blut auf weite Distanz</li>
            <li>-Der Weiße Hai gehört zur Familie der Makrelenhaie und hat eine glatte, grau-braune Haut, die für seine Tarnung im Wasser sorgt.</li>
            <li>-Seine Zähne werden gerne als Schmuck benutzt.</li>
          </ul>
        </div>
      </div>


    <div class="fische">
      <div class="fish-description">
        <img src="walhai1.jpg" alt="Ein schöner Fisch">
        <h2>Walhai</h2>
        <p>Der Weiße Walhai ist der größte Fisch der Welt und kann bis zu 12 Meter lang werden.
          Trotz ihrer beeindruckenden Größe ernähren sich Weiße Walhaie hauptsächlich von Plankton und kleinen Fischen.
          Weiße Walhaie sind sanfte Riesen und sind bekannt dafür, friedliche Begegnungen mit Tauchern und Schnorchlern zu haben.</p>
        <ul>
          <li>-Der Weiße Walhai hat ein einzigartiges Aussehen mit seinen markanten weißen Punkten auf der Oberseite und seinen grauen Streifen auf der Unterseite.</li>
          <li>-Weiße Walhaie sind langsame Schwimmer und können in der Regel Geschwindigkeiten von nur 5 km/h erreichen.</li>
          <li>-Der Weiße Walhai hat eine Lebensdauer von bis zu 70 Jahren und kann in den meisten Ozeanen weltweit gefunden werden.</li>
        </ul>
      </div>
      
      <div class="fish-descriptionTwo">
        <img src="clown2.jpg" alt="Ein schöner Fisch">
        <h2>Clownfisch</h2>
        <p>Der Weiße Clownfisch ist ein kleiner, lebhafter Fisch, der in den Korallenriffen des Pazifiks und des Indischen Ozeans beheimatet ist.
          Weiße Clownfische sind berühmt für ihre symbiotische Beziehung mit Anemonen und nutzen diese als Schutz vor Raubtieren.
          Anders als andere Clownfisch-Arten ist der Weiße Clownfisch kein enger Partner von nur einer Anemonenart, sondern kann mit mehreren Arten interagieren.</p>
        <ul>
          <li>-Der Weiße Clownfisch hat ein charakteristisches Aussehen mit seiner weißen Körperfärbung und seinen orangefarbenen Flossen.</li>
          <li>-Weiße Clownfische sind sehr territorial und verteidigen ihr Anemonen-Zuhause gegen Eindringlinge.</li>
          <li>-Die Fortpflanzung von Weißen Clownfischen ist einzigartig, da sie sich in einer hierarchischen Gruppe organisieren, in der ein Weibchen dominant ist und sich in ein Männchen verwandelt, wenn das dominante Weibchen stirbt.</li>
        </ul>
      </div>
  </div>

    
  </body>

</Layout>

<style>

  .fische {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  
  }

  .fish-description {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: 40px;
  margin-top: 40px;
  
}

.fish-descriptionTwo {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: 40px;
  margin-top: 40px;
  
}

.fish-descriptionTwo img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.fish-description img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.fish-descriptionTwo img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.fish-description h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fish-descriptionTwo h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fish-description p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.fish-descriptionTwo p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.fish-description ul {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.fish-descriptionTwo ul {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 100px;
  list-style: none;
  padding-left: 0;
}



  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

</style>