---
import Card from './Card.astro'
const featuresData = [
  {title: 'h', body: ''},
  {title: 'h', body: ''},
  {title: 'h', body: ''}
];
---

<section class="features">
  <div class="container">
   {featuresData.map(feature => (
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    ))}
  </div>
</section>

<style>
 

  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}

</style>